{% extends 'base.html' %}
{% block content %}


<h1>About US  : Swachh Worli Koliwada</h1>
<br>
<br>
<h2><li>Background</li></h2><hr>
<h5>IDFC First Bank in partnership with Stree Mukti Sanghatana and Municipal Corporation of Greater Mumbai launched project 'Swachh Worli Koliwada' with an aim to create awareness and bring about behavior change about community driven solid waste management practices and segregation at source through a participatory process within the Worli Koliwada community.

The aim of this program is to build a zero waste neighborhood with self-sustainable zones that are equipped to manage solid waste they generate with a model where community participation will be a key at every stage, thereby ensuring sustainability of this program in the long run.
</h5>
<br>
<br>
<h2>About Stree Mukti Sanghatana</h2><hr>
<h5>SMS established in 1975 is a non profit organisation set up to empower women  through activities like Theater, Family Counselling centres, Adolescent sensitization program etc.. Since 1999 SMS has been working for the cause of women waste pickers and offering solutions for Solid Waste Management. SMS is a trust registered under Bombay Public Trusts Act and Societies registration act and has 80-G and 12 A certificates under the Income Tax Act, 1961.
About IDFC First Bank
IDFC FIRST Bank provides a range of financial solutions primarily aimed at individuals, small businesses and corporates. The Bank offers savings and current accounts, NRI accounts, salary accounts, demat accounts, fixed and recurring deposits, home and personal loans, small business loans, forex products, payment solutions and wealth management services. IDFC First Bank has a nationwide presence and operates in the Retail Banking, Wholesale Banking and other banking segments.
</h5>

{% endblock %}