{% extends 'new.html' %} 
{% load i18n %}
{% block content %}{% block extra_css %}


{% endblock %}
    <br>
    <div class="container mb-7" >
        <h2>{% trans "Contact Us" %}</h2>
        <hr>
        <br>
    </div>      
    <div class="container"style="overflow:auto;"  >
        <div class="row" >
            <p><b><u><h5>{% trans "Site Office Address" %}:</h5></u>
                {% trans "Swk Container, Khan Abdul Gaffar Khan Road, Worli Sea Face," %}
                {% trans "Worli Mumbai, Maharasthra 400018 India" %}</b>
                
                <b>{% trans "phone number" %}:&nbsp;&nbsp;&nbsp;{% trans "+91 73044 94032" %}</b> <br>

                <b>{% trans "email id" %} :&nbsp;&nbsp;&nbsp;sms.swk@gmail.com</b><br>
                </p>
                <p><b><u><h5>{% trans "Head office Address:" %}</h5></u>{% trans "Ahilyabai Holkar Marg, Near Jafri High School bus stop," %}"
                    {% trans "Govandi- Mumbai-400043" %}</b>
                    
                    <b>{% trans "email id" %} :&nbsp;&nbsp;&nbsp;smspv123@gmail.com</b><br>
                    </p>
                
            <div class="col-sm-8" >
                <br><br><br><br><br><br><br>                      
                <nav>
                    <ul><centre>
                        
                            <a href = "https://www.facebook.com/swk2020"><img class = 'popupimage' style ="width:50px;height:50px;"src='../static/images/facebook logo.png' alt='image not found - '></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                
                            <a href = "https://twitter.com/S_WorliKoliwada"><img class = 'popupimage' style ="width:50px;height:50px;" src='../static/images/twitter logo.jpeg' alt='image not found - '></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    
                            <a href = "https://www.instagram.com/swachhworlikoliwada/"><img class = 'popupimage' style ="width:70px;height:50px;" src='../static/images/instagram logo.jpeg' alt='image not found - '></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    
                            <a href = "https://www.google.com/maps/place/Swachh+Worli+Koliwada+Project/@19.0267191,72.8117085,12.84z/data=!4m5!3m4!1s0x0:0x35678626e3af4d7!8m2!3d19.0121697!4d72.8218627"><img class = 'popupimage'style ="width:70px;height:50px;" src='../static/images/google map.jpeg' alt='image not found - '></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                        </centre></ul>
                </nav>
                <br><br> 
            </div>
        </div>
    </div>
{% endblock %}