{% extends 'new.html' %} {% load static%} {% block content %}{% block extra_css %}
{% load i18n %}{% load has_group %}
<style>
    #wrapper {
        margin-top: 100px;
        margin-left: 40px;
        margin-right: 0px;
    }
    #tblStocks { 
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
 
    #tblStocks td, #tblStocks th {
          border: 1px solid #ddd;
          padding: 8px;
        }
 
    #tblStocks tr:nth-child(even){background-color: #f2f2f2;}

    #tblStocks tr:hover {background-color: #ddd;}

    #tblStocks th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #294c67;;
            color: white;
          }
    
</style>
{% endblock %}
<!-- <form action="coordinator" method="POST">
    {% csrf_token %} -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            var total_drybf = 0;
            var value;
            var total_dryaf = 0;
            var value1;
            var total_wetbf = 0;
            var value2;
            var total_wetaf = 0;
            var value3;            
            var total_rejected = 0;
            var value4;
            var total_house_reach = 0;
            var value5;
            var total_house_segre = 0;
            var value6;            
            var total_house_mix = 0;
            var value7;

            $("td:nth-child(2)").each(function(){
                value5 = $(this).html();
                // alert(value);
                total_house_reach += parseInt(value5);
                // alert(total_drybf);
            
                $('#result_house_reach').text(total_house_reach);
            });
            $("td:nth-child(3)").each(function(){
                value6 = $(this).html();
                // alert(value);
                total_house_segre += parseInt(value6);
                // alert(total_drybf);
            
                $('#result_house_segre').text(total_house_segre);
            });
            $("td:nth-child(4)").each(function(){
                value7 = $(this).html();
                // alert(value);
                total_house_mix += parseInt(value7);
                // alert(total_drybf);
            
                $('#result_house_mix').text(total_house_mix);
            });

            $("td:nth-child(5)").each(function(){
                value = $(this).html();
                // alert(value);
                total_drybf += parseInt(value);
                // alert(total_drybf);
            
                $('#result_drybf').text(total_drybf);
            });
            
            $("td:nth-child(6)").each(function(){
                value1 = $(this).html();
                // alert(value);
                total_dryaf += parseInt(value1);
                // alert(total_drybf);
                $('#result_dryaf').text(total_dryaf);
            });

            $("td:nth-child(7)").each(function(){
                value2 = $(this).html();
                // alert(value);
                total_wetbf += parseInt(value2);
                // alert(total_drybf);
                $('#result_wetbf').text(total_wetbf);
            });

            $("td:nth-child(8)").each(function(){
                value3 = $(this).html();
                // alert(value);
                total_wetaf += parseInt(value3);
                // alert(total_drybf);
                $('#result_wetaf').text(total_wetaf);
            });

            $("td:nth-child(13)").each(function(){
                value4 = $(this).html();
                // alert(value);
                total_rejected += parseInt(value4);
                // alert(total_drybf);
                $('#result_rejected').text(total_rejected);
            });
            $('#total').text('Total');
            $('#result_drybf').text(total_drybf/2);
            $('#result_dryaf').text(total_dryaf/2);
            $('#result_wetbf').text(total_wetbf/2);
            $('#result_wetaf').text(total_wetaf/2);
            $('#result_rejected').text(total_rejected/2);
            $('#result_house_reach').text(total_house_reach/2);
            $('#result_house_segre').text(total_house_segre/2);
            $('#result_house_mix').text(total_house_mix/2);
            

        });
    </script>
<div id="wrapper">
    <!-- <a href="/xyz'/">Update Duty Chart</a> -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p></p>
        <hr> {% for row in excel_data %} {% for cell in row %} {{ cell }}&nbsp;&nbsp; {% endfor %}
        <br> {% endfor %}

        
        <h2>Tracksheet Form Details</h2>
       
        <!-- <h3>{{request.get_full_path}}</h3> -->
     

        <button onclick="exportData()">
            <span class="glyphicon glyphicon-download"></span>
            Download list</button><br><br>
        <div class="table-responsive">
            <table id="tblStocks" cellpadding="0" cellspacing="0">
                
                <thead class="thead-dark">

                    <tr >
                        <th></th>
                        <th>{% trans "Houses Reached" %} </th>
                        <th>{% trans "Houses Doing Segregation" %}</th>
                        <th>{% trans "Houses Giving Mixed Waste" %}</th>
                        <th>{% trans "Dry Waste BF" %}</th>
                        <th>{% trans "Dry Waste AF" %}</th>
                        <th>{% trans "Wet Waste BF" %}</th>
                        <th>{% trans "Wet Waste AF" %}</th>
                        <th>{% trans "Zone Name" %}</th>
                        <th>{% trans "Track ID" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Supervisor Name" %}</th>
                        <th>{% trans "Rejected" %}</th>
                        <th>{% trans "Zone ID" %}</th>
                        <th>{% trans "Entry" %}</th>
                        {% if request.user|has_group:"Editor" %}
                            <th>Update</th>
                        {% endif %}
                    </tr>
                    
                    
                </thead>
                <tbody>
                    {% for i in datas %}
                   

                    <tr id="somerow">
                        <!-- <td><input type="text" id="comment" name="inputcell1'+i + '"></td> -->
                        <td></td>
                        <td>{{i.num_houses_reached}}</td>
                        <td>{{i.num_houses_doing_segg}}</td>
                        <td>{{i.num_houses_giving_mixwaste}}</td>
                        <td>{{i.drywaste_bf}}</td>
                        <td>{{i.drywaste_af}}</td>
                        <td>{{i.wetwaste_bf}}</td>
                        <td>{{i.wetwaste_af}}</td>
                        <td>{{i.lane_name}}</td>
                        <td>{{i.track_id}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.supervisor_name}}</td>
                        <td>{{i.rejected}}</td>
                        <td>{{i.zone_id_id}}</td>
                        <td>{{i.reason_late_entry}}</td>
                        {% if request.user|has_group:"Editor" %}
                        <td>
                            <a href="/edit/{{ i.track_id }}" style="color: rgb(168, 4, 4);"><span class="glyphicon glyphicon-pencil" >Edit | </span></a>
                            <a href="/delete/{{ i.track_id }}" style="color: rgb(122, 23, 23);">Delete</a>
                        </td>               
                        {% endif %}                       
                    </tr>                   
                    {% endfor %}
                    
                </tbody>
                <tr style="color:midnightblue">
                    <td id="total" style="font-weight: bold;"></td>
                    <td id ="result_house_reach" style="font-weight: bold;"></td>
                    <td id ="result_house_segre" style="font-weight: bold;"></td>
                    <td id ="result_house_mix" style="font-weight: bold;"></td>
                    <td id ="result_drybf" style="font-weight: bold;"></td>
                    <td id ="result_dryaf" style="font-weight: bold;"></td>
                    <td id ="result_wetbf" style="font-weight: bold;"></td>
                    <td id ="result_wetaf" style="font-weight: bold;"></td>
                    <td>-</td><td>-</td><td>-</td><td>-</td>
                    <td id ="result_rejected" style="font-weight: bold;"></td>
                    <td>-</td><td>-</td><td>-</td>
                    
                </tr>
            </table>
            <nav>
                <ul class="pagination"></ul>
            </nav>
        </div>
       
    {% endblock %}{% block extra_javascript %}
        <script>
            
            $(document).ready(function() {

                });
            function exportData(){
                /* Get the HTML data using Element by Id */
                var table = document.getElementById("tblStocks");
            
                /* Declaring array variable */
                var rows =[];
            
                //iterate through rows of table
                for(var i=0,row; row = table.rows[i];i++){
                    //rows would be accessed using the "row" variable assigned in the for loop
                    //Get each cell value/column from the row
                    column1 = row.cells[0].innerText;
                    
                    // column1 = document.getElementById("comment[i]").value;
                    // alert(column1);
                    column2 = row.cells[1].innerText;
                    column3 = row.cells[2].innerText;
                    column4 = row.cells[3].innerText;
                    column5 = row.cells[4].innerText;
                    column6 = row.cells[5].innerText;
                    column7 = row.cells[6].innerText;
                    column8 = row.cells[7].innerText;
                    column9 = row.cells[8].innerText;
                    column10 = row.cells[9].innerText;
                    column11 = row.cells[10].innerText;
                    column12 = row.cells[11].innerText;
                    column13 = row.cells[12].innerText;
                    column14 = row.cells[13].innerHTML;
                    column14 = row.cells[14].innerHTML;
                    // alert(column11);
                    // column15 = row.cells[14].innerText;
                    // column16 = row.cells[15].innerText;
                    // column17 = row.cells[16].innerText;
                /* add a new records in the array */  
                    column11 = column11.replace(/,/g, '.') 

                    rows.push(
                        [
                            column1,
                            column2,
                            column3,
                            column4,
                            column5,
                            column6,
                            column7,column8,column9,column10,column11,column12,column13,column14
                            // column15,column16,column17
                        ]
                    );
            
                }
                csvContent = "data:text/csv;charset=utf-8,";
                /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
                rows.forEach(function(rowArray){
                    row = rowArray.join(",");
                    csvContent += row + "\r\n";
                });
        
                /* create a hidden <a> DOM node and set its download attribute */
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "date-wise-data.csv");
                document.body.appendChild(link);
                /* download the data file named "Stock_Price_Report.csv" */
                link.click();
}
         
        </script> {% endblock %}
