{% load static %} {% load has_group %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SWK-Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Amoeba - v3.0.0
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    {% block extra_css %} {% endblock %}

</head>

<body>
    
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <img class="logo" style="margin-left: 10px; height: 80px; width: 120px;" src="{% static 'images/Logo-Unit.jpg' %}" alt="My image">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'aboutus' %}">About Us</a></li>
                    <li><a href="{% url 'swk_map' %}">Maps</a></li>
                    <!-- <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#team">Team</a></li> -->
                    {% if request.user|has_group:"supervisor" %}

                    <li class="drop-down"><a href="">Enter/View Data</a>
                        <ul>
                            <li><a href="{% url 'trackform' %}">Daily Entry Form</a></li>
                            <!-- <li><a href="{% url 'dutyentryform' %}">Duty Entry Form</a> -->
                                <!-- <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul> -->
                            </li>
                            <li><a href="https://ee.humanitarianresponse.info/x/dwsYkgyQ">Kobo Form</a></li>
                            <li><a href="{% url 'show' %}">View Daily Entry Data</a></li>
                            <!-- <li><a href="#">Drop Down 5</a></li> -->
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="https://communitygis.net/layers/?limit=5&offset=0">Upload Layer</a></li>

                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}

                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}


                </ul>
            </nav>
            <!-- .nav-menu -->

<!--         
        <div class="header-content">
            
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
            
                    <select name="language" style="width: auto;" id="">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
            
                          <option value="{{ language.code }}"
                            {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                          </option>         
                      {% endfor %}
                    </select>
                    <input type = "submit" value ="Go">
                </form>
            
            </div> -->
            </div>
        
    </header>
    <!-- End #header -->

    <!-- ======= Hero Section ======= -->

    <!-- #hero -->
    
    <main>{% block content%} {% endblock%}
    </main>


    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer>
        <div id="footer">
            {% block footer %}developed by RESPIRER LIVING SCIENCES PRIVATE LIMITED {% endblock %}
        </div>
    </footer>
    <!-- End #footer -->
    {% block extra_javascript %} {% endblock %}

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>