{% extends 'new.html' %} 
{% load i18n %}
{% block content %}{% block extra_css %}


{% endblock %}
<div class="container mb-7" ><br>
    <h2>{% trans "Feedback" %}</h2>
    <hr>
    <br>
    <h3>Please rate </h3>
    <p><b>1. How do you find overall daily collection service of SWK ? <img src ="../static/images/star.jpeg"></b></p>
    <p><b>2. How suitable  is the timing of SWK collection  to you? <img style ="width:350px;"src ="../static/images/3star1.png"></b></p>
    <p><b>3. How do you find the SWK website on mobile ? <img  src ="../static/images/star.jpeg"></b></p>
    <p><b>4. How useful is the compost for your kitchen garden ? <img style ="width:350px;" src ="../static/images/3star1.png"></b></p>
    <p><b>5. Are you able to communicate your problems to SWK supervisors ? <img  src ="../static/images/star.jpeg"></b></p>
<hr>
    <h3>Please Answer</h3><br>
    <p><b>1) Do you have separate bins for the following </b></h4><br>
        (A) Food &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:30px;"src ="../static/images/radio_ch.png">YES <img style ="width:40px;"src ="../static/images/radio.jpg">No</p>
        (B) Recyclable paper/plastic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
        (C) e-waste &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
        (D) pads( menstrual, sanitation) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
        (E) epr ( packaging from amazone etc) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
<br>
        <p><b>2) Will you keep those if you don't have and you get them free. Which</b><br>
            (A) Food &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:30px;"src ="../static/images/radio_ch.png">YES <img style ="width:40px;"src ="../static/images/radio.jpg">No</p>
            (B) Recyclable paper/plastic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
            (C) e-waste &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
            (D) pads( menstrual, sanitation) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
            (E) epr ( packaging from amazone etc) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style ="width:40px;"src ="../static/images/radio.jpg">YES <img style ="width:30px;"src ="../static/images/radio_ch.png">No</p>
            <br>
            <p><b>3) Do you need second round of collection of waste ? If yes when?</b><br>
                a)<img style ="width:40px;"src ="../static/images/radio.jpg">12 noon  b)<img style ="width:30px;"src ="../static/images/radio_ch.png"> 5 pm   c)<img style ="width:40px;"src ="../static/images/radio.jpg"> 8 pm
            <br>
            <p><b>4) Do you want waste collection on call ( phone/whatsapp) ?
                If yes for what?</b></p>
                a)<img style ="width:40px;"src ="../static/images/radio.jpg">non-veg waste   b)<img style ="width:30px;"src ="../static/images/radio_ch.png">hair   c)<img style ="width:40px;"src ="../static/images/radio.jpg"> big packaging d)<img style ="width:40px;"src ="../static/images/radio.jpg">recyclable plastic
                <br><br>
                <p><b>5) Do you wish to utilize compost for growing kitchen garden/microgreens? If yes how much ( in kg) per month ? _____________</b></p>
                <br>
                <p><b>6) Do you want some handholding for segregation</b>&nbsp;&nbsp;<img style ="width:30px;"src ="../static/images/radio_ch.png">YES <img style ="width:40px;"src ="../static/images/radio.jpg">No</p></p>
                <p><b>7) Do you want some handholding for kitchen garden</b>&nbsp;&nbsp;<img style ="width:30px;"src ="../static/images/radio_ch.png">YES <img style ="width:40px;"src ="../static/images/radio.jpg">No</p></p>
                <br><br>
                <p><b></b></p>
    <p><b></b></p>
    <p><b></b></p>
    <p><b></b></p>

</div>

{% endblock %}