.infobox{
    width: 400px;
    text-align: center;

}

.infobox--selected{
    border-top: 10px solid lightgreen;
  }
  
.infobox_value{
    margin-top: 20px;
    color: lightgreen;
}

.infobox_percap{
    margin-top: 20px;
    color: lightgreen;
}

.action{
    margin-bottom: 10px;
}